html {
    width: 1080px;
    height: 1920px;
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.modelo {
    width: 100%;
    height: 100%;
    position: relative;
}
.modelo img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.sessaoTitulos {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.tituloFerias {
    font-size: 5rem;
    color: rgb(248, 241, 59);
    font-family: 'Pacifico', cursive;
    /* font-weight: bold; */
}
.titulo {
    font-size: 8rem;
    font-weight: bold;
}
.tituloData {
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

.imagemOndulada {
    width: 100%;
    height: auto;
    max-height: 70vh;
}
.imagemOndulada img {
    width: 100%;
    height: auto;
    /* max-height: 50rem; */
    object-fit: cover;
    display: block;
    object-position: center;
}

.sessaoPreco {
    position: absolute;
    /* top: 100%; */
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    margin-top: 45rem;
    font-family: 'Poppins', sans-serif;
}
.tituloPreco {
    font-size: 50px;
    font-weight: bold;
}
.vezes {
    font-size: 50px;
}
.valor {
    font-size: 135px;
    margin-left: 1rem;
    font-weight: bold;
}
.sifrao {
    font-size: 80px;
    font-weight: bold;
}
.cents {
    font-size: 62.5px;
    margin-top: -0.5rem;
}
.valorPessoa {
    font-size: 24px;
    margin-left: 0.25rem;
}
.saida {
    font-size: 30px;
    font-weight: bold;
}
.g3 {
    font-size: 28px;
}

.sessaoIcones {
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1;
}
.icones {
    width: 50px;
    height: 50px;
}
.textoIcone {
    width: 200px;
}

.sessaoPoliticas {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
}